<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter 1s c00l</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../static/js/index.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTXfAl3wsdkXo6eTsDPTx8H2zaCWYpEfE&callback=initMap">
    </script>
</head>
<body class="page-background">

<div class="container">
    <div class="row">
        <div class="col-md-8" id="map">

        </div>
        <div class="col-md-4 button-column">
          <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <input id="datepicker" type="text">
          </div>
          <div class="col-md-3">
          </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col">
                <button type="button" class="btn btn-danger" id="trump">Donald Trump</button>
                </div>
              </div>
                <div class="row avg-sentiment">
                    <div class="col-md-6 num-tweets">
                        <div id="trump-num">
                            0
                        </div>
                    </div>
                    <div class="col-md-6 avg-sentiment">
                        <div id="trump-avg">
                            0
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-danger" id="ryan">Tim Ryan</button>
               </div>
              </div>
                <div class="row">
                    <div class="col-md-6 num-tweets">
                        <div id="ryan-num">
                            0
                        </div>
                    </div>
                    <div class="col-md-6 avg-sentiment">
                        <div id="ryan-avg">
                            0
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-danger" id="gilliband">Kirsten Gilliband</button>
                </div>
              </div>
                <div class="row avg-sentiment">
                    <div class="col-md-6 num-tweets">
                        <div id="gilliband-num">
                            0
                        </div>
                    </div>
                    <div class="col-md-6 avg-sentiment">
                        <div id="gilliband-avg">
                            0
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col">
                <button type="button" class="btn btn-danger" id="rourke">Beto O'Rourke</button>
               </div>
              </div>
                <div class="row">
                    <div class="col-md-6 num-tweets">
                        <div id="rourke-num">
                            0
                        </div>
                    </div>
                    <div class="col-md-6 avg-sentiment">
                        <div id="rourke-avg">
                            0
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-danger" id="hickenlooper">John Hickenlooper</button>
                </div>
              </div>
                <div class="row avg-sentiment">
                    <div class="col-md-6 num-tweets">
                        <div id="hickenlooper-num">
                            0
                        </div>
                    </div>
                    <div class="col-md-6 avg-sentiment">
                        <div id="hickenlooper-avg">
                            0
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-danger" id="inslee">Jay Inslee</button>
               </div>
              </div>
                <div class="row">
                    <div class="col-md-6 num-tweets">
                        <div id="inslee-num">
                            0
                        </div>
                    </div>
                    <div class="col-md-6 avg-sentiment">
                        <div id="inslee-avg">
                            0
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-danger" id="sanders">Bernie Sanders</button>
                </div>
              </div>
                <div class="row avg-sentiment">
                    <div class="col-md-6 num-tweets">
                        <div id="sanders-num">
                            0
                        </div>
                    </div>
                    <div class="col-md-6 avg-sentiment">
                        <div id="sanders-avg">
                            0
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-danger" id="klobuchar">Amy Klobuchar</button>
               </div>
              </div>
                <div class="row">
                    <div class="col-md-6 num-tweets">
                        <div id="klobuchar-num">
                            0
                        </div>
                    </div>
                    <div class="col-md-6 avg-sentiment">
                        <div id="klobuchar-avg">
                            0
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                  <div class="col">
                    <button type="button" class="btn btn-danger" id="warren">Elizabeth Warren</button>
                </div>
              </div>
                <div class="row avg-sentiment">
                    <div class="col-md-6 num-tweets">
                        <div id="warren-num">
                            0
                        </div>
                    </div>
                    <div class="col-md-6 avg-sentiment">
                        <div id="warren-avg">
                            0
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-danger" id="harris">Kamala Harris</button>
               </div>
              </div>
                <div class="row">
                    <div class="col-md-6 num-tweets">
                        <div id="harris-num">
                            0
                        </div>
                    </div>
                    <div class="col-md-6 avg-sentiment">
                        <div id="harris-avg">
                            0
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                  <div class="col">
                    <button type="button" class="btn btn-danger" id="buttigieg">Pete Buttigieg</button>
                  </div>
              </div>
                <div class="row avg-sentiment">
                    <div class="col-md-6 num-tweets">
                        <div id="buttigieg-num">
                            0
                        </div>
                    </div>
                    <div class="col-md-6 avg-sentiment">
                        <div id="buttigieg-avg">
                            0
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-danger" id="castro">Julián Castro</button>
               </div>
              </div>
                <div class="row">
                    <div class="col-md-6 num-tweets">
                        <div id="castro-num">
                            0
                        </div>
                    </div>
                    <div class="col-md-6 avg-sentiment">
                        <div id="castro-avg">
                            0
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                  <div class="col">
                    <button type="button" class="btn btn-danger" id="delaney">John Delaney</button>
                  </div>
              </div>
                <div class="row avg-sentiment">
                    <div class="col-md-6 num-tweets">
                        <div id="delaney-num">
                            0
                        </div>
                    </div>
                    <div class="col-md-6 avg-sentiment">
                        <div id="delaney-avg">
                            0
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col">
                <button type="button" class="btn btn-danger" id="gabbard">Tulsi Gabbard</button>
               </div>
              </div>
                <div class="row">
                    <div class="col-md-6 num-tweets">
                        <div id="gabbard-num">
                            0
                        </div>
                    </div>
                    <div class="col-md-6 avg-sentiment">
                        <div id="gabbard-avg">
                            0
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                  <div class="col">
                        <button type="button" class="btn btn-danger" id="booker">Cory Booker</button>
                  </div>
              </div>
                <div class="row avg-sentiment">
                    <div class="col-md-6 num-tweets">
                        <div id="booker-num">
                            0
                        </div>
                    </div>
                    <div class="col-md-6 avg-sentiment">
                        <div id="booker-avg">
                            0
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-danger" id="biden">Joe Biden</button>
                </div>
              </div>
                <div class="row">
                    <div class="col-md-6 num-tweets">
                        <div id="biden-num">
                            0
                        </div>
                    </div>
                    <div class="col-md-6 avg-sentiment">
                        <div id="biden-avg">
                            0
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <button type="button" class="btn btn-secondary btn-block text-center disabled">Example</button>
                    </div>
                    <div class="row">
                        <div class="col-md-6 num-tweets">
                            <div>
                                # of Tweets
                            </div>
                        </div>
                        <div class="col-md-6 avg-sentiment">
                            <div>
                                Avg Sentiment
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>